body {
    font-family: 'Arial', sans-serif;
  }
  .hero-section {
    background: linear-gradient( to left, rgba(18,153,243,255), #84eef4);
    color: white;
    padding: 50px 0;
  }
  .hero-section img {
    max-width: 100%;
    height: auto;
  }
  .section-title {
    border-bottom: 3px solid black;
    display: inline-block;
    margin-bottom: 20px;
  }
  .accordion-button {
    background-color: #f8f9fa;
    color: #007bff;
  }
  .accordion-button:hover {
    background-color: #e9ecef;
  }
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .link-hover:hover {
    text-decoration: underline;
  }
  .bg-light-section {
    background-color: #f8f9fa;
    padding: 40px;
  }
  .card {
    border: none;
    transition: transform 0.2s;
  }
  .card:hover {
    transform: scale(1.02);
  }
  /*-------------- upload page -------------------*/
  
.form-container {
    background:#bad4ee;
    border-radius: 10px;
    box-shadow: 0 4px 6px  #3891ea;
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
}
.form-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0a5095;
}
.form-label {
    font-weight: 600;
    color: #0a5095;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.form-text {
    color:#0a5095;
}